:root {
    --primary-color: #F1C6DE;
    --secondary-color1: #e152a1;
    --secondary-color2: #609ad7;
    --neutral-color-dark: #000000;
    --neutral-color-ligth: #FFFFFF;


    font-family: "Poppins", Arial, Helvetica, sans-serif;


}